.admin{
    height: 92%;
    &-action-div{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 50%;
        height: 30%;
    }


}