.createquiz{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    &-heading{
        margin: 2% auto;
        color: $primary-color-dark;
    }

    &-action-div{
        width: 90%;
        position: relative;
    }

    &-details{

        margin-bottom: 2%;

        &-form{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            margin-bottom: 1%;
        }

        // &-inputs{
        //     // width: 40%;
        //     // margin-bottom: 1% ;
        // }
    }

    &-questions{
        width: 50%;
        margin: auto;

        &-top{

            display: flex;
            justify-content: space-between;
            margin-bottom: 2%;

            &-heading{
                color: $primary-color-dark;
            }

        }

        &-length0{
            color: gray;
        }

        &-inputs{
            margin-bottom: 2%;
        }

        &-options{
            width: 60%;

            &-option{
                display: grid;
                grid-template-columns: 7fr 1fr;
                gap: 10px;
            }
        }

        &-button{
            margin-bottom: 2%;
        }
    }

    &-button{
        position: absolute;
        right: 5%;
        bottom: 1%;
    }
}