.givequiz{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 92%;
    margin: 5% auto;

    &-end{
        width: 40%;
        text-align: center;
        & h4{
            color: $primary-color-dark;
        }
    }

    &-questions{
        width: 50%;
    }

    &-finishButton{
        margin-top: 2%;
    }
}