.App{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", Arial, sans-serif;
    overflow: auto;
    height: 100vh;
    background-color: $background-color-primary;
}

a{
    text-decoration: none;
    color: inherit;

    &:hover{
        text-decoration: none;
        color: inherit;
    }
}

textarea:focus,
input:focus {
    border-color: $primary-color-dark !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px $primary-color-dark !important;
    outline: 0 none;
}

.make-white{
    background-color: #fff;
    padding: 30px;
    border-radius: 30px;
  }