.header{
    background-color: $primary-color-dark !important;
    height: 8% !important;

    &-brand{
        color: #fff;
        font-size: 1.5rem;

        &:hover{
            color: #fff;
        }
    }
}